@font-face {
  font-family: "Clash Display";
  src: url(./assets/fonts/ClashDisplay-Variable.woff2) format("woff2"),
    url(./assets/fonts/ClashDisplay-Variable.woff) format("woff");
}
body,
h1,
h2,
h3,
h4,
h5 {
  font-family: "Clash Display", sans-serif;
  font-weight: 400;
}
