@font-face {
  font-family: "Clash Display";
  src: url(./assets/fonts/ClashDisplay-Variable.woff2) format("woff2"),
    url(./assets/fonts/ClashDisplay-Variable.woff) format("woff");
}

.sec_img{
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 100%;
  margin-left: 65px;
  margin-top: -17%;
}

.product_catalog{
  display: grid;
  flex-wrap: wrap;
  justify-content: space-evenly;
  grid-template-columns: repeat(3, 1fr);
  padding: 0;
  /* border: solid pink; */
  width: 85%;

}
.product_card{
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 250px;
  width: 85%;
  margin: 20px;
  max-width: 300px;
  /* border: 1px solid grey; */
  border-radius: 7px;
  background-color:#fdfce2;

}
.product_card:hover{
  box-shadow: rgba(22, 17, 17, 0.7) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.productcard_container{
  height: 300px;
  width: 90%;
  /* box-shadow: none 0px 20px 25px -5px, none 0px 10px 10px -5px; */
  /* background-color: #fdfce2; */
  /* transition: all .25s; */
}
.pimg{
  overflow: hidden;
}
.pimg img{
  position: absolute;
  width: 100%;
  height: 80%;
  transition: transform 5s ease;
  /* border-radius: 10px; */
}

/* .productcard_container:hover{
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
} */
.fav_icon{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin-top: 8px;
  margin-right: 15px;
  top: 1 rem;
  right: -1rem;
  width: 40px;
  height: 45px;
  z-index: 10;
  border-radius: 45%;
  cursor: pointer;
  opacity: 0;
  transition: all .25s;
}
.fav_icon{
  right: 1rem;
  opacity: 1;
}

.fav_icon:hover{
  background-color: rgb(89, 171, 89);
}
.pimg p{
  position:absolute; 
  bottom: 22%;
  width: 100%;
}

.product_des{
  margin-top: 11px;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  font-size: 1.2rem;
  margin-left: 8px;
 

}
[data-tooltip]::before{
  content: attr(data-tooltip);
  position: absolute;
  background-color: black;
  padding: 5px 5px;
  right: calc(100% + 5px);
  border-radius: var(--border-5);
  white-space: nowrap;
  font-size: 0.8rem;
  color: antiquewhite;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;

}
[data-tooltip]:hover::before{
  opacity:   1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  font-family: "Clash Display", sans-serif;
}

button {
  border: none;
  border-radius: 10px;
}

.zm {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  width: 30%;
  margin: 0 auto;
  height: fit-content;
}

.heading {
  margin: 1em 0;
}

.heading h2 {
  font-size: 3em;
  color: #486e00;
  line-height: 1.2em;
}

.arrw {
  background-color: #486e00;
  color: white;
  font-size: 24px;
  width: 40px;
  height: 41px;
  border-radius: 50%;
  cursor: pointer;
  margin: 5px;
}

.arrw:hover {
  width: 33px;
  height: 36px;
}
.slidebtn {
  position: relative;

}

.PHead {
  justify-content: space-between;
}

* {
  font-family: "ClashDisplay Regular", sans-serif;
}

#body {
  width: 80vw;
  margin: auto;
  font-family: "ClashDisplay Regular", sans-serif;
}

#body>* {
  margin-bottom: 20px;
}

#content {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

#filters_sort {
  width: 70%;
  display: flex;
  justify-content: space-between;
}

#applied_filters {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

#sorting {
  border: solid black;
  border-width: 1px;
  font-family: "ClashDisplay Regular", sans-serif;
  background-color: none;
  width: max-content;
  padding: 5px;
  border-radius: 10px;
}

#heading {
  font-family: "ClashDisplay SemiBold", sans-serif;
  font-size: 32px;
  color: #486e00;
  margin: 0;
}

#heading_container {
  padding-top: 80px;
  width: 224px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}


#price_range_filter_container {
  display: flex;
  margin-top: 12px;
}

#product_img {
  max-width: 80%;
}

#catalog_underline {
  width: 100%;

}

#applied_filters_sort {
  display: flex;
  justify-content: space-between;
}

#reset_filters {
  display: flex;
  align-items: center;

}


@media screen and (max-width: 750px) {
  #body {
    width: 90%;
    margin: auto;
  }
  .product_catalog{
    grid-template-columns: repeat(2, 1fr);
  }

  #heading {
    font-size: 16px;
  }

  #content {
    display: flex;
    flex-direction: column;
  }

  .checkbox-label {
    margin: 10px;
  }

  #filters {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: space-around;
    font-size: 12px;
    flex-wrap: wrap;
    flex-direction: row;

  }
}

@media screen and (max-width: 400px) {
  #body {
    width: 95%;
    margin: auto;
  }
  .product_catalog{
    grid-template-columns: repeat(1, 1fr);
  }

  #heading {
    font-size: 16px;
  }

  #content {
    flex-direction: column;
  }
}