@font-face {
  font-family: "Clash Display";
  src: url(./assets/fonts/ClashDisplay-Variable.woff2) format("woff2"),
    url(./assets/fonts/ClashDisplay-Variable.woff) format("woff");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  font-family: "Clash Display", sans-serif;
}

button {
  border: none;
  border-radius: 10px;
}

.zm {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  width: 79%;
  margin: 0 auto;
  height: fit-content;
}

.heading {
  margin: 1em 0;
}

.heading h2 {
  font-size: 3em;
  color: #486e00;
  line-height: 1.2em;
}

.arrw {
  background-color: #486e00;
  color: white;
  font-size: 24px;
  width: 40px;
  height: 41px;
  border-radius: 50%;
  cursor: pointer;
  margin: 5px;
}

.arrw:hover {
  width: 33px;
  height: 36px;
}
.slidebtn {
  position: relative;

}

.PHead {
  justify-content: space-between;
}

* {
  font-family: "ClashDisplay Regular", sans-serif;
}

#body {
  width: 80vw;
  margin: auto;
  font-family: "ClashDisplay Regular", sans-serif;
}

#body>* {
  margin-bottom: 20px;
}

#content {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

#filters_sort {
  width: 70%;
  display: flex;
  justify-content: space-between;
}

#applied_filters {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

#sorting {
  border: solid black;
  border-width: 1px;
  font-family: "ClashDisplay Regular", sans-serif;
  background-color: none;
  width: max-content;
  padding: 5px;
  border-radius: 10px;
}

#heading {
  font-family: "ClashDisplay SemiBold", sans-serif;
  font-size: 32px;
  color: #486e00;
  margin: 0;
}

#heading_container {
  padding-top: 80px;
  width: 224px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}

#price_range_filter_container {
  display: flex;
  margin-top: 12px;
}

#product_img {
  max-width: 80%;
}

#catalog_underline {
  width: 100%;

}

#applied_filters_sort {
  display: flex;
  justify-content: space-between;
}

#reset_filters {
  display: flex;
  align-items: center;

}


@media screen and (max-width: 750px) {
  #body {
    width: 90%;
    margin: auto;
  }

  #heading {
    font-size: 16px;
  }

  #content {
    display: flex;
    flex-direction: column;
  }

  .checkbox-label {
    margin: 10px;
  }

  #filters {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: space-around;
    font-size: 12px;
    flex-wrap: wrap;
    flex-direction: row;

  }
}

@media screen and (max-width: 400px) {
  #body {
    width: 95%;
    margin: auto;
  }

  #heading {
    font-size: 16px;
  }

  #content {
    flex-direction: column;
  }
}