@font-face {
    font-family: "ClashDisplay SemiBold";
    src: url("./fonts/ClashDisplay-Semibold.otf") format("opentype");
}

@font-face {
    font-family: "ClashDisplay Regular";
    src: url("./fonts/ClashDisplay-Regular.otf") format("opentype");
}

body{
    font-family: "ClashDisplay Regular",sans-serif;
    color: rgb(120, 120, 120);
    background-color: #fffef8;
    margin: auto;
}
#heading {
    font-family: "ClashDisplay SemiBold", sans-serif;
    font-size: 32px;
    color: #486e00;
    margin: 0;
}
.popular_products_img{
    width: 100%;
    height: 50vh;
}
.product_img_container {
    position: relative;
}

.product_container {
    background-color: #fdfce2;
}

.product_img_container svg {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
}
#content{
    padding-top: 90px;
    max-width: 80%;
    margin: auto;
}
#banner{
    max-width: 100%;
}
#first_row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#first_row>img{
    margin: 20px;
    height: 80vh;
    border-radius: 10px;
}
.green_text{
color: #486e00;
}
#add_button{
    font-family: 'ClashDisplay Regular',sans-serif;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    background-color: #486e00;
    color: white;
    height: 50px;
    width: 250px;
}
#button_heart{
    display: flex;
    gap: 20px;
    align-items: center;  
}
footer * {
    font-family: "ClashDisplay Regular", sans-serif;
}
@media screen and (max-width:1000px) {
    #content {
        max-width: 85%;
    }
 #first_row {
     flex-direction: column;
 }
}


@media screen and (max-width:720px) {
    #content {
            max-width: 90%;
        }
    #first_row {
            flex-direction: column;
    }
}