@font-face {
  font-family: "ClashDisplay SemiBold";
  src: url("./fonts/ClashDisplay-Semibold.otf") format("opentype");
}
@font-face {
  font-family: "ClashDisplay Regular";
  src: url("./fonts/ClashDisplay-Regular.otf") format("opentype");
}
* {
  font-family: "ClashDisplay Regular", sans-serif;
}
#body {
  width: 80vw;
  margin: auto;
  font-family: "ClashDisplay Regular", sans-serif;
}

#body > * {
  margin-bottom: 20px;
}
#content {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
#filters_sort {
  width: 70%;
  display: flex;
  justify-content: space-between;
}
#applied_filters {
  width: 50%;
  display: flex;
  justify-content: space-between;
}
#sorting {
  border: none;
  font-family: "ClashDisplay Regular", sans-serif;
  background-color: none;
  width: max-content;
  height: 30px;
  margin: 10px;
  padding: 5px;
}
#heading {
  font-family: "ClashDisplay SemiBold", sans-serif;
  font-size: 32px;
  color: #486e00;
  margin: 0;
}

#heading_container {
  padding-top: 80px;
  width: 224px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}
#price_range_filter_container {
  display: flex;
}

#catalog_underline {
  width: 100%;
}
#products_container {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.product_img_container {
  position: relative;
}
.product_container {
  box-shadow: none 0px 20px 25px -5px, none 0px 10px 10px -5px;
  background-color: #fdfce2;
  transition: all .25s;
}

.product_container:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.product_img_container svg {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 100;
}

.product_img_container > img {
  z-index: 0;
  width: 100%;
  /* height: 50vh; */
}
#applied_filters_sort {
  display: flex;
  justify-content: space-between;
}
#reset_filters {
  display: flex;
  align-items: center;
}

footer * {
  font-family: "ClashDisplay Regular", sans-serif;
}

@media screen and (max-width: 750px) {
  #body {
    width: 90%;
    margin: auto;
  }
  #heading {
    font-size: 16px;
  }
  #products_container {
    grid-template-columns: repeat(2, 1fr);
  }
  #content {
    display: flex;
    flex-direction: column;
  }
  #filters {
    display: flex;
    gap: 25px;
    align-items: center;
    justify-content: space-around;
    font-size: 12px;
    flex-wrap: wrap;
    flex-direction: row;
  }
}
@media screen and (max-width: 400px) {
  #body {
    width: 95%;
    margin: auto;
  }
  #heading {
    font-size: 16px;
  }
  #products_container {
    grid-template-columns: repeat(1, 1fr);
  }
  #content {
    flex-direction: column;
  }
}
