@font-face {
  font-family: "Clash Display";
  src: url(../assets/fonts/ClashDisplay-Variable.woff2) format("woff2"),
    url(../assets/fonts/ClashDisplay-Variable.woff) format("woff");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  font-family: "Clash Display", sans-serif;
}
button {
  border: none;
  border-radius: 10px;
}

.flx-jC-aC {
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-container {
  width: 100%;
  height: 100%;
  justify-content: space-between;
}

.content-container {
  width: 50%;
  height: 100%;
  /* margin: 0 auto; */
}
.content {
  width: 79%;
  margin: 0 auto;
  height: fit-content;
}
.Heading {
  line-height: 4.5em;
}
.Heading p {
  color: #486e00;
  font-size: 4em;
  font-weight: bold;
}
.catalog,
.more {
  padding: 0.5em 1.5em;
  font-size: 1.5em;
  background-color: #486e00;
  color: white;
}
.more {
  color: #486e00;
  background-color: white;
  border: 2px solid #486e00;
}
.tagN {
  font-size: 1.5em;
  padding: 2em 0 1em 0;
}
.slider-container {
  width: 50%;
  height: 100%;
  position: relative;
}

.card-slider {
  display: flex;
  width: 100%;
  height: 100%;

  overflow: hidden;
  transition: transform 0.5s ease-in-out; /* Add a transition for smooth sliding */
}

.card {
  width: 100%;
  height: 100%;
}

.card img {
  width: 100%;
  height: 100%;
}
/* Additional styles for animation */
.card-slider::before,
.card-slider::after {
  content: "";
  flex: 0 0 auto;
  width: 10px; /* Adjust the width as needed */
}

.card-slider::before {
  background: linear-gradient(
    to left,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1)
  );
}

.card-slider::after {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );
}
.controls {
  position: absolute;
  bottom: 1em;
  left: 3em;
}
.control-btn {
  background-color: #486e00;
  color: white;
  font-size: 24px;
  width: 30px;
  height: 33px;
  border-radius: 50%;
  cursor: pointer;
}
.control-btn:hover {
  width: 33px;
  height: 36px;
  border: 3px dashed white;
}

.circular-container {
  display: flex;
  width: 90px;
  padding: 50px 0;
  border-radius: 8px;
  background: none;
  row-gap: 30px;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 2em;
}
.circular-progress {
  position: relative;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background: conic-gradient(#486e00 3.6deg, #ededed 0deg);
  display: flex;
  align-items: center;
  justify-content: center;
}
.circular-progress::before {
  content: "";
  position: absolute;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background-color: #fff;
}
.progress-value {
  position: relative;
  font-size: 1.5em;
  font-weight: 400;
  color: #486e00;
}
.text {
  font-size: 30px;
  font-weight: 500;
  color: #606060;
}
.section1 {
  width: 100%;
  height: 60%;
  padding: 2em;
}
.halfWidth {
  width: 50%;
  display: block;
  height: 100%;
  /* padding: 2em; */
}
.grid {
  width: 50%;
  height: 100%;
  padding: 1em;
}
/* .grid twin {
  width: 50%;
} */

.twin img {
  width: 100%;
  height: 50%;
  display: block;
  padding: 0.5em;
  border-radius: 20px;
}
.single {
  padding: 0.5em;
}
.single img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}
.about-us {
  width: 50%;
  height: 100%;
  padding: 5%;
  line-height: 2em;
  /* font-family: c; */
}
.heading {
  margin: 1em 0;
}
.heading h2 {
  font-size: 3em;
  color: #486e00;
  line-height: 1.2em;
}

.about-us p {
  font-size: 1em;
}
.control2 {
  position: relative;
}
.section2 {
  padding: 0 3em;
  height: 70%;
}
.section2Head {
  justify-content: space-between;
}
.card-list {
  width: 100%;
  height: 100%;
}
.product-slider {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
  /* overflow-x: auto; */
}
.Productcard {
  width: 25%;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.Productcard-content {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
  /* background-color: #dfdbcc; */
}
.Productcard-img-div {
  width: 100%;
  height: 70%;
}
.Productcard-img-div img {
  width: 100%;
  height: 100%;
}
.add-cart-button {
  border: 2px solid #486e00;
  padding: 0.3em;
  border-radius: 50%;
}
.section3 {
  padding: 0 3em;
}
.categories-list {
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: space-between;
  padding: 3em;
}
.section3Head {
  justify-content: space-between;
}
.cat-card {
  width: 20%;
  height: 100%;
}
.cat-content {
  padding: 1em;
  background-color: #3a3a3a;
}
.cat-image-div {
  width: 100%;
  height: 70%;
}
.cat-img {
  width: 100%;
  height: 300px;
}
.grid2 {
  background-color: gray;
}
/*--------------------------------Temporary Nav-----------------------------------------------------*/
nav {
  padding: 0em 5em;
  position: relative;
  height: 10%;
}
button {
  border: none;
  background: transparent;
}
.flex-Jsb-Ac {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  color: #486e00;
  font-weight: bold;
  font-size: 1.3em;
}
.divWithLink {
  width: 29%;
  color: #3a3a3a;
}
.search {
  padding: 0.5em 1em;
  border-radius: 15px;
  border: 1px solid gray;
  /* font-size: 1.em; */
}

.round-btn {
  padding: 0.9em;
  border-radius: 50%;
}

.dropdown {
  position: relative;
  display: inline-block;
  padding-top: 0.5em;
  margin-left: -1em;
}

/* Style the button that will trigger the dropdown */
.dropdown-button {
  padding: 10px;
  border: none;
  cursor: pointer;
}
.search-container {
  position: relative;
  display: inline-block;
  padding-top: 0.5em;
  margin-left: -1em;
}
.suggestion-container {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 999;
  right: 1px;
  text-align: center;
  padding: 1em;
}
.show {
  display: block;
  width: 300px;
  font-size: 0.9em;
  background-color: #f1f1f1;
}

.search-result {
  padding: 0.3em;
  display: block;

  font-size: 1.3em;
}
.increase-width-search {
  padding: 0.6em 1.3em;
}
/* Style the dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 999;
  right: 1px;
  text-align: center;
  padding: 1em;
}

/* Style the links inside the dropdown */

.dropdown-content button {
  padding: 10px 10px;
  color: #486e00;
  font-size: 1.2em;
  font-weight: bold;
  border: 2px solid #486e00;
  margin: 0.4em auto;
}
.welcome-tagline {
  text-align: left;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  padding: 0.7em 0;
}
.dropdown-content p {
  font-size: 1.3em;
}
/* Change color of links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Show the dropdown content when hovering over the button */
.dropdown:hover .dropdown-content {
  display: block;
}

.cartBtn-and-counter {
  position: relative;
}
.cart-counter {
  padding: 2px 4px;
  background-color: #486e00;
  color: white;
  position: absolute;
  border-radius: 50%;
  top: 0;
  right: 0;
}
/*-----------------------------------fOOTER--------------------------------------------------*/

.grid-container {
  display: grid;
  grid-template-columns: 30% 60% 10%;
  color: #3a3a3a;
  gap: 10px; /* Adjust the gap between columns if needed */
}

.grid-item {
  padding: 10px; /* Add padding to the items if needed */
  font-size: 1.1em;
}
.linksDiv {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  line-height: 1.5em;
  font-size: 1.1em;
}
.footer {
  width: 100%;
  height: 40%;
  padding: 3em;
  background-color: rgba(206, 202, 202, 0.8);
}
.topBtn {
  background-color: #486e00;
  padding: 0.5em 0.8em;
  font-size: 1.5em;
  color: white;
  border: none;
  border-radius: 50%;
}

/*-----------------------------------fOOTER--------------------------------------------------*/
/*-------------------------------------------------------------------------------------*/
@media all and (min-width: 500px) and (max-width: 1240px) {
  .divWithLink {
    display: none;
  }
  .home-container {
    flex-direction: column;
    padding: 0;
    height: 100vh;
  }
  .Heading {
    line-height: 3em;
  }
  .Heading p {
    color: #486e00;
    font-size: 3em;
    font-weight: 400;
  }
  /* section {
    flex-direction: column;
    height: 100vh;
  } */
  .content-container {
    width: 100%;
    height: 50%;
    /* padding: 0em; */
  }
}
