@font-face {
  font-family: "Clash Display";
  src: url(/assets/fonts/ClashDisplay-Variable.woff2) format("woff2"),
    url(/assets/fonts/ClashDisplay-Variable.woff) format("woff");
}

* {
  font-family: "Clash Display", sans-serif;
}
/* ------------------------------ */

#container {
  padding-top: 80px;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
}

input {
  border-radius: 8px;
  border: 2px solid grey;
  padding: 12px;
  width: 250px;
}
#indian-states {
  border: 1px solid red;
  border-radius: 8px;
  border: 2px solid grey;
  padding: 12px;
  width: 278px;
}
.details {
  margin-top: 10px;
  margin-bottom: 10px;
}
.buttons {
  gap: 4px;
  display: flex;
  justify-content: space-between;
}
.checkbox {
  margin-top: 25px;
}
#cont {
  margin-top: 5px;

  padding: 15px;
  justify-content: end;
}
#delivery {
  margin-top: 10px;
  margin-bottom: 10px;
  display: none;
}

button {
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: rgb(24, 81, 26);
  color: white;
  cursor: pointer;
  width: 100%;
  letter-spacing: 1px;
}
h1,
h3 {
  color: rgb(24, 81, 26);
}

.city {
  margin-top: 10px;
  margin-bottom: 10px;
  gap: 30px;
}

#backbtn {
  background-color: white;
  color: green;
  border: 2px solid #054203;
  border-radius: 10px;
}
#backbtn:hover {
  background-color: #97af97;
  color: #ffffff;
}
#paybtn {
  color: white;
  background-color: rgb(24, 81, 26);
  width: 100%;
  padding: 13px;
}

.checkbox {
  display: flex;
  justify-content: space-between;
}
.checkbox div {
  width: 93%;
}
#input_checkbox {
  border-radius: 8px;
  border: 2px solid grey;
  padding: 0px;
  width: 15px;
}

.contImg {
  width: 100px;
  /* margin-top: -100px; */
}
.contImg2 {
  width: 100px;
  margin-bottom: -180px;
}

.mainEmptyDiv {
  width: 38%;
  margin: auto;
}

.imgEmptyDiv img {
  width: 100%;
  filter: saturate(200%);
  filter: hue-rotate(-60deg);
}

.mainEmptyDiv h3 {
  text-align: center;
  font-size: 1.5rem;
  color: #486e00;
}
.mainEmptyDiv a {
  text-decoration: none;
  background-color: #486e00;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
}
.mainEmptyDiv a:hover {
  background-color: #72ac08;
}
.link_catalog {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
#itemDetails {
  display: flex;
  flex-direction: column;
  height: 35vh;
  overflow: auto;
}

#itemDetails::-webkit-scrollbar {
  width: 3px;
}

#itemDetails::-webkit-scrollbar-thumb {
  background: #a9aaa9;
  border-radius: 20px;
}

#itemDetails::-webkit-scrollbar-thumb:hover {
  background: #054203;
}
#itemDetails > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 10px;
  margin: 10px;
  padding: 10px;
  border-radius: 8px;
  box-shadow: rgba(99, 99, 99, 0.15) 0px 2px 8px 0px;
}

#itemDetails > div img {
  width: 25%;
}
.itemPricing {
  display: flex;
  justify-content: space-between;
}

#quantityBox {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-end;
  gap: 10px;
}
#quantityBox div {
  justify-content: space-around;
}
.itemPrice {
  text-align: end;
}
.itemName {
  margin: 0;
  padding: 0;
}
.detailsDiv {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.minus {
  border-radius: 5px;
  border: none;
  background-color: rgb(95, 98, 98);
  color: white;
  padding: 0px 3px;
}
.red-button {
  color: white;
  background-color: red;
  cursor: not-allowed;
}
.plus {
  border-radius: 5px;
  border: none;
  background-color: green;
  color: white;
  padding: 0px 3px;
}

body {
  font-size: 16px;
}

@media screen and (max-width: 1190px) {
  body {
    font-size: 14px;
  }
  #container {
    width: 90%;
    padding-top: 82px;
    flex-direction: column-reverse;
  }
  input {
    border-radius: 8px;
    border: 2px solid grey;
    padding: 10px;
    width: 100%;
    display: grid;
    gap: 20px;
    margin-top: 20px;
  }
  .buttons {
    display: flex;
    flex-direction: column;
  }
  #paybtn {
    width: 100%;
  }
  #backbtn {
    width: 100%;
  }
  #cont {
    width: 100%;
  }
  #indian-states {
    border-radius: 8px;
    border: 2px solid grey;
    padding: 10px;
    width: 102.5%;
    margin-top: 20px;
  }
  .mainEmptyDiv h3 {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 768px) {
  body {
    font-size: 12px;
    #container {
      width: 90%;
      margin: auto;
      display: flex;
      flex-direction: column-reverse;
      justify-content: space-evenly;
    }
  }
  .buttons {
    display: flex;
    flex-direction: column;
  }
  .mainEmptyDiv h3 {
    font-size: 1rem;
  }
}

#cont:disabled {
  background-color: red;
  cursor: not-allowed;
}

#cont:not(:disabled):hover {
  background-color: green;
  cursor: pointer;
}

#paybtn:disabled {
  background-color: red;
  cursor: not-allowed;
}

#paybtn:not(:disabled):hover {
  background-color: green;
  cursor: pointer;
}
