@font-face {
  font-family: "Clash Display";
  src: url(/assets/fonts/ClashDisplay-Variable.woff2) format("woff2"),
    url(/assets/fonts/ClashDisplay-Variable.woff) format("woff");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #3a3a3a;
  font-family: "Clash Display", sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
}

.main {
  width: 100%;
  height: 100%;
}

.container {
  width: 50%;
  margin: auto;
  background-color: #fff;
  padding: 4rem;
  margin-top: 5rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.container h2 {
  color: #486e00;
}

.form {
  margin-top: 1.5rem;
}

.label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 700;
}

.input {
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: solid thin #ddd;
}

.button {
  background-color: #303131;
  color: #fff;
  padding: 0.5rem 0.75rem;
  border-radius: 0.25rem;
  border-width: 0px;
  cursor: pointer;
  margin-bottom: 1rem;
  font-size: 16px;
}

.login {
  margin-top: 1rem;
}

.login a {
  color: #303131;
}
.google-signin {
  display: inline-block;
  white-space: nowrap;
  text-align: center;
  background-color: #303131;
  padding: 0.5rem 0.75rem;
  border-radius: 0.25rem;
  border-width: 0px;
  cursor: pointer;
  margin-bottom: 1rem;
}
.google-signin span {
  color: #fff;
}

.google-signin:hover {
  cursor: pointer;
}

.google-signin img {
  vertical-align: middle;
  width: 10%;
  margin-right: 10px;
}

.google-signin span {
  font-size: 16px;
  vertical-align: middle;
}

.buttons-container {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
}

.button,
.google-signin {
  flex: 1;
  margin: 5px;
}
